<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Colombia se quedó con el tercer puesto:Gol agónico de Luis Diaz y victoria contra Perú</h1>
    <h2>Colombia venció 3-2 a Perú con goles de Luis Díaz y Juan Guillermo Cuadrado para quedarse con el tercer puesto de la Copa América 2021</h2>
    <img src="https://www.diariopopular.com.ar/mrf4u/statics/i/ps/media.diariopopular.com.ar/adjuntos/143/imagenes/007/752/0007752561.jpg" alt="Festejo de gol Luis Diaz">
    <p>La selección de Colombia consiguió quedarse con el el tercer lugar en la Copa América 2021 al derrotar 3-2 a Perú en partido jugado en el estadio Mané Garrincha, en Brasilia.</p>
    <p>Con goles de Juan Guillermo Cuadrado a los 49, de tiro libre, y de su nueva figura, Luis Díaz, a los 66 y a los 90+4, el seleccionado cafetero logró imponerse en un partido peleado y que se definió sobre el final. Para los incas anotaron Yoshimar Yotun los 45+1 y su nuevo goleador Gianluca Lapadula a los 82.</p>
    <h2>Noticias Relacionadas</h2>
    <a href="../potreroDigital_ejercicio1.a_gonzalez_lucas.html">Maracanazo:Argentina campeón de la copa américa 2021</a>
  </body>
</html>
